<h1 align="center">Head-to-head Performance</h1>
<p style="display: inline; margin-left: 35%;"><b>Player1</b></p>
<p style="display: inline; margin-left: 22%;"><b>Player2</b></p>
<%= render 'form' %>

