<h1 align="center">Head-to-head Performance</h1>
<p style="display: inline; margin-left: 480px;"><b>Player1</b></p>
<p style="display: inline; margin-left: 280px;"><b>Player2</b></p>
<%= render 'form' %>

